.listeSignets
{
    display: flex;
    justify-content: center;
    padding-top: 50px;

    .signets
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
}